<a href="https://colab.research.google.com/github/nimmakayalamounika/IIy-IVs-FDS/blob/main/FDS_unit1(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from dateutil.parser import parse
data = {
    'Event ID': [1, 2, 3, 4, 5],
    'Event Date': ['01/12/2023', 'December 2, 2023', '2023-12-03', '12.04.2023', '5th Dec 2023']
}
df = pd.DataFrame(data)
print("original Dataset")
print(df, '\n')

original Dataset
   Event ID        Event Date
0         1        01/12/2023
1         2  December 2, 2023
2         3        2023-12-03
3         4        12.04.2023
4         5      5th Dec 2023

In [5]:
import pandas as pd
from dateutil.parser import parse

# Re-initializing df to ensure it has the 'Event Date' column
data = {
    'Event ID': [1, 2, 3, 4, 5],
    'Event Date': ['01/12/2023', 'December 2, 2023', '2023-12-03', '12.04.2023', '5th Dec 2023']
}
df = pd.DataFrame(data)

def parse_date(date_str):
  try:
    return parse(date_str,dayfirst=False)
  except ValueError:
      return pd.NaT
df['Event Date'] = df['Event Date'].apply(parse_date)
df['Event Date'] = df['Event Date'].dt.strftime('%y-%m-%d')
print("Result")
print(df)

Result
   Event ID Event Date
0         1   23-01-12
1         2   23-12-02
2         3   23-12-03
3         4   23-12-04
4         5   23-12-05

In [6]:
import pandas as pd

data = {
    'Sample ID': ['A1','A2','A3','A4','A5'],
    'weight': ['70 kg', '154 lbs', '68 KG', '160 pound', '72 kilograms']
}

df = pd.DataFrame(data)

# Extract numeric value
df['Numeric Value'] = df['weight'].str.extract(r'(\d+\.?\d*)').astype(float)

# Extract unit and normalize
df['Unit'] = df['weight'].str.extract(r'([a-zA-Z]+)')[0].str.lower()

def convert_to_kg(row):
    if row['Unit'] in ['kg', 'kilogram', 'kilograms']:
        return row['Numeric Value']
    elif row['Unit'] in ['lb', 'lbs', 'pound', 'pounds']:
        return row['Numeric Value'] * 0.453
    else:
        return None

# Create a new column for converted weight
df['weight_in_kg'] = df.apply(convert_to_kg, axis=1)

print(df[['Sample ID', 'weight', 'weight_in_kg']])

  Sample ID        weight  weight_in_kg
0        A1         70 kg        70.000
1        A2       154 lbs        69.762
2        A3         68 KG        68.000
3        A4     160 pound        72.480
4        A5  72 kilograms        72.000